body {
    margin: 0px;
}
.main {
    display: grid;
    grid-template-rows: 40px repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    height: 100vh;
    background-color: black;
}
nav {
    grid-area: 1/1/1/7;
    background-color: black;
    display: flex;
    justify-content: end;
    position: fixed;
    height: 40px;
    width: 100%;
    
}
a {
    color: inherit;
    text-decoration: none;
}
.nav-items{
    position: relative;
    font-weight: bold;
    transition: color 1.5s, box-shadow 0.3s ease-in-out;
    box-shadow: none;
}
.nav-items:hover {
    color: yellowgreen;
}
.nav-items::before, .nav-items::after {
    background: yellowgreen;
    border-radius: 16px;
    bottom: -12px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.7s ease-out 0s;
    width: 0;
    
}

.nav-items::before {
    left: 0;
}
.nav-items::after {
    right: 0;
}
.nav-items:hover::before, .nav-items:hover::after {
width: 100%; 
box-shadow: 0 0 10px 0.2px yellowgreen;
}
ul {
    margin-top: 9px;
    /* background-color: blue; */
    color: white;
    display: inline-flex;
    justify-content: end;
    list-style: none;
} 
li {
    margin: 6px 50px 0px 50px;
}
.social-icons {
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: none;
}

.social-icons:hover {
box-shadow: 0 0 10px 5px yellowgreen;
}
#hero {
    grid-area: 2/1/5/7;
    background-color: rgb(236, 235, 235);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#technologies {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: white;
}
#tech-body {
   
}
#cards .card {
    /* aspect-ratio: 5 / 7; */
}
#cards, .bg-card {
    width: 30vmin;
}
.card {
    /* background-color: #8e6d6d; */
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    /* border: 1px solid yellowgreen; */
}
.bg-card{
    width: 30vmin;
    border-radius: 1vmin;
    /* visibility: hidden; */
}
.bg-card:nth-child(2) {
    transform: translateX(-10%) rotate(-1deg);
}
.bg-card:nth-child(2)::hover {
    fill: black;
}
.bg-card:nth-child(2) {
    transform: translateX(-10%) rotate(-1deg);
}
.bg-card:nth-child(4) {
    transform: rotate(2deg);
}
.bg-card:nth-child(6) {
    transform: translate(-6%) rotate(-3deg);
}
.bg-card:nth-child(8) {
    transform: translate(10%, 3%) rotate(5deg);
}
.sm-card {
    width: 12vmin;
    border-radius: 2vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 75%);
    /* background-color: blue; */
    
}
#cards:hover > .bg-card:nth-child(2) {
    transform: translate(-75%, 16%) rotate(-24deg);
}
#cards:hover > .bg-card:nth-child(4) {
    transform: translate(-25%, 5%) rotate(-8deg);
}
#cards:hover > .bg-card:nth-child(6) {
    transform: translate(25%, 8%) rotate(8deg);
}
#cards:hover > .bg-card:nth-child(8) {
    transform: translate(75%, 16%) rotate(24deg);
}
#cards:hover > .sm-card:nth-child(1) {
    transform: translate(200%, -90%) rotate(-15deg);
}
#cards:hover > .sm-card:nth-child(3) {
    transform: translate(250%, 280%) rotate(15deg);
}
#cards:hover > .sm-card:nth-child(5) {
    transform: translate(-200%, -100%) rotate(15deg);
}
#cards:hover > .sm-card:nth-child(7) {
    transform: translate(-280%, 240%) rotate(-15deg);
}
#about {
    display: grid;
    grid-template-rows: 40px repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    height: 100vh;
    background-color: gray;
}

