body {
    margin: 0px;
}
.main {
    display: grid;
    grid-template-rows: 40px repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    height: 100vh;
    background-color: black;
}
nav {
    grid-area: 1/1/2/11;
    background-color: black;
    display: flex;
    justify-content: end;
}
a {
    color: inherit;
    text-decoration: none;
}
.nav-items{
    transition: color 0.3s;
    position: relative;
    font-weight: bold;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: none;
}
.nav-items:hover {
    color: yellowgreen;
}
.nav-items::before, .nav-items::after {
    background: yellowgreen;
    border-radius: 16px;
    bottom: -12px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.7s ease-out 0s;
    width: 0;
    
}

.nav-items::before {
    left: 0;
}
.nav-items::after {
    right: 0;
}
.nav-items:hover::before, .nav-items:hover::after {
width: 100%; 
box-shadow: 0 0 10px 1px yellowgreen;
}
ul {
    margin-top: 9px;
    /* background-color: blue; */
    color: white;
    display: inline-flex;
    justify-content: end;
    list-style: none;
} 
li {
    margin: 6px 50px 0px 50px;
}
.social-icons {
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: none;
}

.social-icons:hover {
box-shadow: 0 0 10px 5px yellowgreen;
}
.hero {
    grid-area: 2/1/11/11;
    background-color: rgb(236, 235, 235);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    height: 100vh;
    background-color: red;
}